.container {
    margin:0 0 0 20px;
    max-width: 100%;
    padding:0 0 0 0px;
}


.btn {
    margin: 0 5px 5px 0;
}

.rating {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px 0;
    max-width: 100px;
}

h4 {
    margin: 50px 0 10px 0;
}

#gif-input {
    margin: 0 0 10px 0;
}

.not-gifs {
    padding:0;
    position: relative;
    max-width: 450px;
    right:10%;
}

img {
    height:300px;
    width:350px;
}